

<html>

	<head>
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<script src="https://code.createjs.com/easeljs-0.8.2.min.js">  </script>

	</head>
    <body>

		<script>
			// Create the canvas
			var canvas = document.createElement("canvas");
			var ctx = canvas.getContext("2d");
			canvas.width = 512;
			canvas.height = 480;


			document.body.appendChild(canvas);




			// Background image
			var bgReady = false;
			var bgImage = new Image();
			bgImage.onload = function () {
				bgReady = true;
			};
			bgImage.src = "bg.jpg";

			// person image
			var driverReady = false;
			var driverImage = new Image();
			driverImage.onload = function () {
				driverReady = true;
			};
			driverImage.src = "driver.jpg";

			// start image
			var startReady = false;
			var startImage = new Image();
			canvas.addEventListener('click', function() { console.log("test");}, false);
			startImage.onload = function () {
				startReady = true;
			};
			startImage.src = "start.png";


			var driver = {
				x: 256,
				y: 240
			};

			var start = {
				x: 106,
				y: 40
			};



			// Draw everything
			var render = function () {
				if (bgReady) {
					ctx.drawImage(bgImage, 0, 0);
				};

				if (startReady) {
					ctx.drawImage(startImage, start.x, start.y);

				};

				// if (driverReady) {
				// 	ctx.drawImage(driverImage, driver.x, driver.y);
				// }
				};

			// The main game loop
			var main = function () {

				render();

				requestAnimationFrame(main);
			};


			var then = Date.now();
			$( document ).ready(function() {
			    console.log( "ready!" );
				main();
			});


		</script>


	</body>
</html>
