<html>

	<head>
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<script src="https://code.createjs.com/easeljs-0.8.2.min.js">  </script>


	</head>
    <body>

		<script>
			// Create the canvas
			var canvas = document.createElement("canvas");
			var ctx = canvas.getContext("2d");
			canvas.width = 512;
			canvas.height = 480;
			document.body.appendChild(canvas);



			// Background image
			var bgReady = false;
			var bgImage = new Image();
			bgImage.onload = function () {
				bgReady = true;
			};
			bgImage.src = "bg.jpg";

			// person image
			var driverReady = false;
			var driverImage = new Image();
			driverImage.onload = function () {
				driverReady = true;
			};
			driverImage.src = "driver.jpg";

			// person image
			var yesnoReady = false;
			var yesnoImage = new Image();
			yesnoImage.onload = function () {
				yesnoReady = true;
			};
			yesnoImage.src = "yeno.png";

			// start image
			var startReady = false;
			var startImage = new Image();
			startImage.onload = function () {
				startReady = true;
			};
			startImage.src = "start.png";


			var driver = {
				x: 256,
				y: 240
			};

			var start = {
				x: 106,
				y: 40
			};

			var yesno = {
				x: 400,
				y: 410
			};


			canvas.addEventListener('click', dothething, false);
			function dothething(event){
				canvas_x = event.pageX;
				canvas_y = event.pageY;
				if((canvas_x > 146 && canvas_x < 383) && (canvas_y > 71 && canvas_y < 432)){
					// alert('clicked inside the note');
					canvas.removeEventListener('click', dothething);
					ctx.drawImage(bgImage, 0, 0);
					if (yesnoReady) {
						ctx.drawImage(yesnoImage, yesno.x, yesno.y, 96, 48);
					}
				}
			}

			// Draw everything
			var render = function () {
				if (bgReady) {
					ctx.drawImage(bgImage, 0, 0);
				};

				if (startReady) {
					ctx.drawImage(startImage, start.x, start.y);

				}



				// if (driverReady) {
				// 	ctx.drawImage(driverImage, driver.x, driver.y);
				// }
				};

			// The main game loop
			var main = function () {

				render();

				// requestAnimationFrame(main);
			};

			$( document ).ready(function() {
			    console.log( "ready!" );
				main();
			});


		</script>


	</body>
</html>
